body {
  margin: 0;
  background: linear-gradient(to right, rgba(7,2,82,1)0%, rgba(0,128,128,1)100%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
